services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: openaccess-app
    container_name: openaccess-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: openaccess-nginx
    restart: unless-stopped
    ports:
      - '80:80'
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - app

  mysql:
    image: 'mysql:8.4'
    container_name: openaccess-mysql
    ports:
      - '${DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'sail-mysql:/var/lib/mysql'
    networks:
      - app-network
    healthcheck:
      test:
        - CMD
        - mysqladmin
        - ping
        - '-p${DB_PASSWORD}'
      retries: 3
      timeout: 5s

  redis:
    image: 'redis:alpine'
    container_name: openaccess-redis
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'sail-redis:/data'
    networks:
      - app-network
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      timeout: 5s

  mailpit:
    image: 'axllent/mailpit:latest'
    container_name: openaccess-mailpit
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - app-network

  phpmyadmin:
    image: 'phpmyadmin:latest'
    container_name: openaccess-phpmyadmin
    ports:
      - '8090:80'
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: '${DB_USERNAME}'
      PMA_PASSWORD: '${DB_PASSWORD}'
    networks:
      - app-network
    depends_on:
      - mysql

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: openaccess-cloudflared
    restart: unless-stopped
    command: tunnel run
    volumes:
      - ./cloudflared-config.yml:/etc/cloudflared/config.yml
      - ./docker/cloudflared/creds.json:/etc/cloudflared/creds/creds.json
    networks:
      - app-network
    depends_on:
      - nginx

networks:
  app-network:
    driver: bridge

volumes:
  sail-mysql:
    driver: local
  sail-redis:
    driver: local
